/*------------*/
/* Fonts */
/*------------*/

/*------------*/
/* Playfair */
/*------------*/

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/');
    src: url('fonts/transfonter.org-20190415-092419/?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BlackItalic.svg#PlayfairDisplaySC-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-BoldItalic.svg#PlayfairDisplaySC-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Italic.svg#PlayfairDisplaySC-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplaySC-Black.svg#PlayfairDisplaySC-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.eot');
    src: url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092419/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
/*------------*/
/* Railway */
/*------------*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Regular.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Regular.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Regular.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Regular.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Thin.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Thin.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Thin.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Thin.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Italic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Italic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Italic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Italic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Medium.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Medium.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Medium.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Medium.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Bold.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Bold.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Bold.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Light.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Light.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Light.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Light.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Black.eot');
    src: url('fonts/transfonter.org-20190415-092206/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Black.woff2') format('woff2'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Black.woff') format('woff'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Black.ttf') format('truetype'),
        url('fonts/transfonter.org-20190415-092206/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    }

/*------------*/
/* body */
/*------------*/

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}
/*------------*/
/* Header */
/*------------*/
header {
    width:100vw;
    max-height:12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*------------*/
/*Logo*/
/*------------*/
section.logobox {
    margin: 2vh 3vh 2vh 2vh;
    max-width:28vh;
    max-height:auto;
    min-width: 10vh;
    min-height: auto;
}
img.logo {
    width: 100%;
    height: 100%;

}
/*------------*/
/*Menu*/
/*------------*/
li a {
    text-decoration: none;
    font-weight: 500;
    color: #e2574c;

}
li a:hover { color:#b64036;}

section.menu {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-right: 21vh;
    margin: 1vh 1vh 1vh 1vh;
    max-width: 100%;
    max-height: 18vh;
}

nav.menu {
    width: 100%;
}

ul.menu.items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
ul.menu.items li {
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}


/*------------*/
/*Basket*/
/*------------*/
div.basket {
    margin-right: 2vw;
    margin-top: 2vh;
    max-width:28vh;
    max-height:8vh;
    min-width: 10vh;
    min-height: auto;
}

img.basket{
    width: 100%;
    height: 100%;
}
/*------------*/
/* section 1 */
/*------------*/
section.section1 {
    max-height:100%;
    max-width:100%;
}
.section1 {
    position:relative;
}

div.banner {
    background-image: url("images/flower-bkgd.jpg");
    height: 69vh;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-size: 107vh;
    position: relative;
    overflow: hidden;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img.girl {
    z-index: 70;
    padding-top: 7.5vh;
    height: 84.5vh;
    width: auto;
    overflow: hidden;
}
.backgroundalpha {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.222);
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 80;
}
.bannercopy {
    position: absolute;
    top: 36%;
    left: 27.2%;
    z-index: 90;
    color: white;
    text-align: center;
    line-height: 4.2rem;
    text-shadow: 2px 2px 5px #00000085;
}

.newcollection {
    font-family: Raleway;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.springsummer {
    font-size: 4.3rem;
    font-family: Playtest Light;
    font-weight: 100;
}

/*------------*/
/* Section 2 */
/*------------*/
.sectionbox02 {
    line-height: 2.6vh;
    height: 33.5vh;
    text-align: center;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.sectionbox02 h1 {
    margin-bottom: 4vh;
    font-family: Playtest Display;
    font-size: 2.7rem;
}
.sectionbox02 h1 em{
    font-weight: 500;
}
.sectionbox02 p{
    line-height: 4vh;
    font-size: 1.1rem;
    font-weight: 300;
}
/*------------*/
/* categories */
/*------------*/


section.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 40vh);
    grid-gap: 1vh;
    max-width: 100vw;
    max-height: 81vh;
}

div.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.222);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
}

.item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.item.mens img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.item.womens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

h1.title {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 90;
    text-shadow: .2vh .2vh 6vh #00000066;
}


div.item.mens {
    background-color: #24242472;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    justify-content:center;
}

div.item.mens h1.title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    vertical-align: baseline;
    top:0;
    line-height:38vh;
}

div.item.trends {
    position: relative;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content:center;
}

div.item.trends h1.title {
    grid-column: 3;
    grid-row: 1;
    top:0;
    line-height:38vh;
}


div.item.glasses {
    position: relative;
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content:center;
}

div.item.glasses h1.title {
    grid-column: 4;
    grid-row: 1;
    top:0;
    line-height:38vh;
}


div.item.sale {
    position: relative;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content:center;
}

div.item.sale h1.title{
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    top:0;
    line-height:38vh;
}


div.item.bags {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content:center;
}


div.item.bags h1.title {
    position: absolute;
    grid-column: 2;
    grid-row: 2;
    top:0;
    line-height:38vh;
}


div.item.womens {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 2;
    display: flex;
    justify-content:center;

}

div.item.womens h1.title {
    position: absolute;
    grid-column: 3 / 5;
    grid-row: 2;
    top: 0;
    line-height:38vh;
}

/*------------*/
/* Most Loved */
/*------------*/

div.mostlovedcategory {
    height: 76.5vh;
}
h1.most-loved {
    margin-top: 7vh;
    margin-bottom: 4vh;
    font-family: Playfair Display;
    text-align: center;
    font-size: 2.5rem;
}
h1.most-loved em {
    font-weight: 300;
}


div.most-loved {
    width: 100vw;
    height: 60vh;
    display: flex;
    overflow-x: auto;
}

div.product {
    margin: 2vh 7vh 0 2vh;
    text-align: center;
    flex-shrink: 0;

}

div.product img {
    height: 32vh;
    width: auto;
}

div.descriptions {
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.product h2 {
    font-family: Playfair Display;
    color: #e2574c;
    font-weight: 300;
}

div.product h3 {
    text-transform: uppercase;
    color: #969696;
    font-weight: 500;
    font-size: .9rem;
}

div.product h4 {
    text-transform: uppercase;
    color: #969696;
    font-weight: 500;
    font-size: .7rem;
}
.button {
    width: 7.5vw;
    height: 3.5vh;
    font-size: .8rem;
    background-color:#242424;
    border: none;
    color: white;
    padding: .2vh 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1vh 1vh;
    border-radius: 5vh;
}
.button a {
    color: white;
    text-decoration: none;
}
.button a:hover {color:rgb(114, 114, 114);}


/*--------*/
/*Sign-Up */
/*--------*/

section.waves {
    background-image: url("images/wave-bkgd.jpg");
    line-height: 8vh;
    height: 43vh;
    margin-bottom:1vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

section.waves {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

div.sign-up {
    top:0;
}

.sign-up h1 {
    margin-top: 6vh;
    margin-bottom: 1vh;
    font-family: Playfair Display;
    font-size: 2.5rem;
    text-shadow: 1px 1px 7px #00000036;
    color: white;
    position: relative;
    z-index: 80;
}

.sign-up h1 em{
    font-weight: lighter;
}

.copy {
    margin-bottom: 3vh;
    line-height: 4.5vh;
    position: relative;
    z-index: 90;
    font-size: 1.2rem;
    color: white;
}

/* Subscribe Form */

div.subscribebutton {
    position: relative;
    z-index: 90;
    width: 60vh;
    height: 6vh;
}

::placeholder {
    color: #a9a9a9;
    font-weight: lighter;
}

.subscribebutton form {
    position: absolute;
    background-color: white;
    border-radius:3vh;
    width:60vh;
    height: 6vh;
    border: none;
    outline:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
div.subscribebutton input {
    position: absolute;
    height:5.8vh;
    width: 53vh;
    border: none;
    font-size: 1rem;
}

input.submitbutton {
    max-width: 15vh;
    max-height: 5vh;
    margin-top: .5vh;
    margin-left: 14.5vh;
    position: relative;
    background-color:#e2574c;
    border: none;
    border-radius:3vh;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
/*--------*/
/* Footer */
/*--------*/
footer{
    max-height: 20vh;
}

section.footer {
    background-color: #242424;
    padding: 4vh 15vh 4vh 4vh;
    width: 100%;
    height: 36vh;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.credits {
    margin-left: 2vh;
    font-family: Playfair Display;
    line-height: 3vh;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-direction: column;
}

.address {
    color: #969696;
}


li.icon a {
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
}

li.icon a:hover {color: #969696;}

li i.fab {
    width: 2rem;
}
